.row{
   padding-bottom: 10px;
   text-align: center;
    border-bottom: 1px ridge;
    
   
}
.timer{
    
    font-size: 40px;
    
    
}

.form-control {
    width: 80%;
    border-radius: 4px;
    border:1px solid gray;
    padding: 5px;
    margin: 0 auto;
    display:block;
    line-height: 30px;
   
    margin: 0 auto;
    
    
    
    
  }
  .button{
   margin: 0 auto;
   display: block;
        

  }

  .form-row{
     margin-bottom: 30px;
      
  }

  .header{
      margin-bottom: 10px;
      
      font-size: 30px;
      
      

  }
  a{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    
}
  a:hover{
      
      text-decoration: underline;
      
  }
  .my-card{
    
      margin: auto ;
      width:30%;
      border: 1px solid white;
      background-color:white;
      margin-top: 20px;
      
  }   